header{
  width:100%;
  height: 600px;
  background-color: white;
  //border:1px solid green;
  display:flex;
  .logo{
    width:45%;
    height:600px;
    background-image: url("../../assets/Home-Hero-Image.jpg");
    background-size: cover;
    background-position-x: right;
    background-repeat: no-repeat;
    //border:1px solid blue;
  }
  .nav{
    display:flex;
    justify-content: center;
    width:55%;
    height:600px;
    //border:1px solid red;
    .box{
      width:80%;
      height:600px;
      //border:1px solid orange;
    }
  }
}
